{% extends layout %}
{% block  content %}
<main class="container mt-3">
    <div>
        <form action="/meeps" method="post">
            <div class="input-group mb-3">
                <label for="name" class="visually-hidden">name</label>
                <input
                    class="form-control"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Write a name..."
                    required>
                <button class="btn btn-primary" type="submit">Add name</button>
            </div>
        </form>
    </div>
    <div>
        <ul class="list-group">
        {% for name in meeps %}
            <li class="list-group-item d-flex justify-content-between">
                {{name.name}}
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value="{{name.completed}}"
                            name="name-{{name.id}}"
                            id="name-{{name.id}}"
                            {% if name.completed %}checked{% endif %}>
                        <label
                            class="form-check-label"
                            for="name-{{name.id}}">
                            Completed
                        </label>
                    </div>
                    <a
                        href="/meeps/{{name.id}}/delete"
                        class="btn btn-danger">
                        Delete name
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}